<!DOCTYPE html>
<html>
	{% include head.html %}
	<script src="//cdn.optimizely.com/js/210578001.js"></script>
	<body id="{{page.cssid}}">
		<header id="header">
			<div class="wrap clearfix">
				<a href="/" title="Mayday PAC" class="logo ir">MAYDAY PAC</a>
				<blockquote>electing a Congress committed to fundamental reform by 2016</blockquote>
			</div>
		</header>
		<section class="main">
			<div class="intro">
				<h1>New to MAYDAY?</h1>
				<p>Join the community that's taking our democracy back:</p>
			</div>
			<form class="signup">
				<input type="email" placeholder="(your email address)">
				<input type="submit" value="Submit">
			</form>
		</section>
		<section class="exit">
			<a href="/" target="_parent">No thanks, take me to the MAYDAY site</a>
		</section>
	</body>
</html>
